.root > header {
  display: flex;
  align-items: center;
  min-height: 10vh;
  padding: 0 6em;
}
.mainSearch {
  text-align: center;
  background: url(/3dab0ac8462f4da1efed59eaa63a07a7.svg) no-repeat;
  background-size: auto 70%;
  background-position: 50% 80%;
  min-height: 90vh;
  overflow: hidden;
}
.mainSearch.flex.flex--center {
  justify-content: center;
}
.mainSearch h2 {
  padding: 3% 0;
  color: #4FBAAA;
}
.mainSearch .form {
  padding-top: 3%;
}
.mainSearch .form .btn {
  color: #333;
}
.mainSearch .form .autocp {
  margin-right: 1em;
}
.offer {
  padding: 2em 1em;
  color: #333;
  border-bottom: 1px solid #D1D2D4;
}
.offer .subTitle {
  color: #E94F2B;
  margin: 0.4em 0;
}
.offer .location {
  color: #333;
}
.advert .post {
  margin: 0 auto;
  width: 80%;
}
.advert .post .content {
  margin-left: 1em;
}
.advert section {
  width: 95%;
  margin: 0 auto;
}
.advert .no-label + .no-label {
  margin-left: 1em;
}
.advert .ad-title {
  margin: 1em 0;
}
.advert .ad-title input {
  width: 100%;
}
.advert .markdownBox {
  margin: 1em 0;
}
.advert div label {
  margin: 0 0.5em;
  font-weight: normal;
}
.advert div.small {
  display: inline-block;
}
.advert div.small input {
  width: 11em;
}
.op {
  padding: 1em;
}
.op .title {
  color: #4FBAAA;
  padding-bottom: 0.5em;
  border-bottom: 0.15em solid #4FBAAA;
}
.op > .mainWrapper {
  padding-top: 1em;
}
.op > .mainWrapper h4 {
  font-size: 1.25em;
  text-transform: uppercase;
  margin: 1.25em 0 0;
}
.op > .mainWrapper h1,
.op > .mainWrapper h2,
.op > .mainWrapper h3,
.op > .mainWrapper h4 {
  color: #4FBAAA;
}
.op > .mainWrapper .detais {
  flex: 7;
}
.op > .mainWrapper .detais .contentWrapper {
  padding-right: 10%;
}
.op > .mainWrapper .overview {
  flex: 1.5;
}
.op > .mainWrapper .overview .contentWrapper {
  padding-left: 2em;
  border-left: 1px solid #4FBAAA;
}
.op > .mainWrapper .overview .contentWrapper span {
  display: inline-block;
}
.op > .mainWrapper .overview h3 {
  text-transform: uppercase;
  margin-top: 0.5em;
}
.op > .mainWrapper .overview h3:first-child {
  margin-top: 0;
}
a.btn:hover {
  color: #3c9a8c;
  box-shadow: 0 0 0 2px rgba(78, 184, 169, 0.25);
  border-color: #4FBAAA;
}
a.btn:focus {
  color: #4FBAAA;
  outline-color: #4FBAAA;
  border-color: #4FBAAA;
}
a.btn--main,
a.btn--main:hover,
a.btn--main:focus {
  color: #FFF;
  box-shadow: 0 0 0 2px #e94f2b;
  border-color: #E94F2B;
}
.btn.btn--toggle.active {
  background: #4FBAAA;
  border-color: #4FBAAA;
  color: #FFF;
}
.btn.btn--toggle.btn--toggle-on {
  padding-left: 6em;
  padding-right: 0;
}
.btn.btn--toggle.btn--toggle-on:after {
  content: " ? ";
  border: 1.5em solid #4fbaaa;
  background: #4fbaaa;
  border-radius: 5em;
}
.btn {
  background: #FFF;
  border: 1px solid #ccc;
  border-radius: 0;
  cursor: pointer;
}
.btn:focus {
  box-shadow: 0 0 0 2px rgba(79, 186, 170, 0.5);
}
.btn--circular {
  height: 3em;
  width: 3em;
  border-radius: 3em;
  position: relative;
}
.btn--circular:after {
  content: " ";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50%;
  left: 0;
}
.btn--profile {
  overflow: hidden;
  margin-left: 1em;
}
.btn--profile:after {
  background: #E94F2B;
}
.btn--logout {
  border-color: #E94F2B;
  margin: 0 1em;
}
.btn--logout:after {
  background: #fff;
  width: 50%;
  top: -0.5em;
  left: 25%;
  content: "|";
  border-radius: 100%;
  color: #e84e29;
}
.btn--logout:hover {
  background: #e84e29;
}
.btn--main {
  border-color: #E94F2B;
  background: #E94F2B;
  color: #FFF;
  display: inline-block;
}
.btn--main:focus,
.btn--main.focus {
  box-shadow: 0 0 0 2px rgba(233, 79, 43, 0.5);
}
.btn--main-alt {
  border-color: #4FBAAA;
  color: #4FBAAA;
}
.btn--main-alt-reverse {
  background: #4FBAAA;
  color: #FFF;
  border-color: #4FBAAA;
}
.btn--massive {
  font-size: 2em;
}
.btn--alt {
  background: #D1D2D4;
  color: #FFF;
}
.btn--bolder {
  font-weight: bolder;
}
.btn--incognito {
  border: 0;
  background: transparent;
}
.btn--large {
  padding: 0.7em;
}
button:focus .caret,
button:hover .caret {
  transform: rotate(-180deg);
}
.root > nav {
  padding: 1em 10%;
}
.root > nav .navbar-brand {
  margin-right: 2em;
}
.root > nav .navbar-nav a.nav-link {
  font-weight: 700;
  color: #4FBAAA;
  white-space: nowrap;
}
.root > nav .navbar-toggler {
  color: rgba(0, 0, 0, 0.9);
  border-color: rgba(0, 0, 0, 0.1);
}
.root > nav .navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,<svg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'><path stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/></svg>");
}
.root > nav .btn {
  margin-left: 1em;
}
.md {
  position: relative;
}
.md .md-preview,
.md .md-input {
  width: 100%;
  min-height: 100%;
}
.md .md-input textarea {
  width: 100%;
  padding: 1em;
  min-height: 20em;
}
.markdownBox {
  background-color: #fff;
  border-radius: 3px;
}
.markdownBox .nav-container nav {
  padding-left: 1em;
  background: #D1D2D4;
  border: 1px solid #4FBAAA;
}
.markdownBox .nav-container nav > button {
  margin-top: 1em;
  padding: 0.5em 1em;
  background-color: transparent;
  border: 1px solid transparent;
}
.markdownBox .nav-container nav > button.selected {
  border-color: #4FBAAA;
  border-color: #999;
  margin-bottom: -1px;
  border-bottom-color: #fff;
  background: #fff;
  bottom: -1px;
  position: relative;
}
.markdownBox .nav-container .toolbox {
  float: right;
  margin-top: 0.5em;
}
.markdownBox .nav-container .toolbox button {
  border: 1px solid #D1D2D4;
}
.markdownBox .helper {
  margin-top: 1em;
  font-size: 11px;
}
.markdownBox .helper svg {
  vertical-align: bottom;
  margin-right: 0.5em;
  fill: #333;
}
.markdownBox .content {
  padding: 1em;
  border: 1px solid #4FBAAA;
  border-top: 0;
}
.markdownBox .preview {
  line-height: 1.6;
  padding: 1em;
  min-height: 20em;
}
.markdownBox textarea {
  width: 100%;
  background: #fafafa;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
  line-height: 1.6;
  padding: 1em;
  max-height: 100%;
  min-height: 20em;
  resize: vertical;
}
.root > footer {
  background: #D1D2D4;
  padding: 1em 10%;
}
@media (max-width: 767px) {
  .root > footer > div {
    flex-direction: column;
  }
}
.root > footer article {
  display: inline-block;
  margin: 0 auto;
}
.root > footer a {
  color: #E94F2B;
}
.root > footer .d-flex.flex-wrap > div {
  text-transform: lowercase;
  padding: 1em 2em;
}
@media (max-width: 767px) {
  .root > footer .d-flex.flex-wrap > div {
    text-align: center;
  }
}
.dialog .overlay {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
}
.dialog .box {
  width: 50%;
  height: 50%;
  margin: 0 auto;
  position: absolute;
  top: 25%;
  left: 25%;
}
.dialog .box .header {
  background-color: #333;
  text-align: center;
  color: white;
  border: 0;
}
.dialog .box .body {
  margin: 0 1em;
  background: #FFF;
}
.loginForm {
  margin: 0 auto;
  flex: 1;
}
.loginForm h1 {
  margin-bottom: 2em;
  font-size: 1.15em;
}
.loginForm input {
  padding: 1em;
  width: 100%;
}
.loginForm div + div {
  margin-top: 1em;
}
.registrationForm {
  margin: 0 auto;
  text-align: center;
}
.registration {
  text-align: center;
}
.registration form {
  margin: 0 auto;
  width: 20em;
}
.registration .anchor {
  padding: 1em;
}
.registration .options button {
  margin: 0 1em;
}
.registration .sideImage {
  width: 5em;
  color: #333;
  background-color: #D1D2D4;
}
.caret {
  transition: 0.5s all;
}
input,
input:focus {
  border-color: #4FBAAA;
  outline-color: #4FBAAA;
}
input:focus {
  box-shadow: 0 0 0 2px rgba(79, 186, 170, 0.5);
}
.input-group-lg > input.form-control {
  font-size: initial;
}
.input-group-lg > input.form-control:focus {
  border-color: #4FBAAA;
}
.has-danger > input.form-control {
  border-color: #E94F2B;
}
.autocp {
  display: inline-block;
}
.autocp.big {
  width: 100%;
}
.autocp.big input {
  width: 100%;
}
.autocp + .autocp.no-label {
  margin-right: 1em;
}
input {
  background: #fafafa;
  border: 1px solid #ddd;
  padding: 1em;
}
input.editableTag {
  padding: 0;
  margin: 0;
  border: 0;
  background: transparent;
  text-align: center;
  color: #E94F2B;
}
input.editableTag:focus {
  outline-color: #E94F2B;
}
.dropdown .dropdown-toggle,
.dropdown .dropdown-item {
  cursor: pointer;
}
.dropdown .dropdown-item.active,
.dropdown .dropdown-item:active,
.dropdown .dropdown-item:hover,
.dropdown .dropdown-item:focus {
  background-color: #4FBAAA;
  color: #FFF;
}
.arrowDown {
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 5em;
}
.glyphicon--large {
  font-size: 5em;
}
.flex {
  display: flex;
}
.flex-grow {
  flex-grow: 1;
}
.flex .img {
  flex: 1;
}
.flex .anchor {
  flex: 4;
}
.flex--center {
  align-content: center;
  justify-content: space-around;
}
.flex--center--stretch > div {
  flex-grow: 1;
}
.flex--center--stretch .anchor {
  flex-grow: 2;
}
.flex--col {
  flex-direction: column;
}
.sideImageLayout .img {
  width: 5em;
  color: #333;
  background-color: #D1D2D4;
  flex: 1;
}
.sideImageLayout .content {
  flex: 2;
}
.fullheight {
  height: 100vh;
}
.profile section {
  margin: 0 auto;
  margin-top: 3em;
  max-width: 65%;
}
@media (max-width: 767px) {
  .profile section {
    max-width: 100%;
  }
}
.profile section h6 {
  color: #808080;
  margin: 1em 0;
  font-weight: 700;
}
.profile section label {
  font-weight: 700;
  text-transform: uppercase;
  color: #808080;
}
.profile section .keywordList {
  max-width: none;
}
.short > div {
  min-height: 15em;
  margin: 1em;
  border: 1px solid #D1D2D4;
}
.short .img {
  min-width: 15em;
  margin: 1em;
}
.articleWrapper {
  min-height: 100vh;
  padding: 2em;
}
.op {
  padding: 1em;
}
.op--list h4 {
  margin: 0;
}
.logo {
  width: 12em;
  height: 6em;
  height: 8vh;
  background: url(/f3c2c0116530b504d687effba51e5db4.svg) no-repeat 50%;
}
.filters {
  margin-top: 2em;
  padding-right: 2em;
  border-right: 1px solid #D1D2D4;
}
.filters h3 {
  color: #808080;
  text-transform: uppercase;
  font-weight: 600;
}
.filters h2 {
  font-size: 1.9em;
  padding-bottom: 0.25em;
  margin: 0;
  border-bottom: 1px solid #808080;
}
.filters h3 {
  font-size: 1.3em;
  margin: 0.75em 0;
  margin-bottom: 0.75em;
}
.checkboxGroup .checkbox {
  font-weight: 600;
  font-weight: normal;
  padding: 0 0 0.25em 1em;
  color: #808080;
}
.keywordFilter {
  margin-bottom: 0.25em;
}
.keywordFilter .form-control:focus {
  border-color: #4FBAAA;
}
.keywordFilter input:focus,
.keywordFilter button {
  border-color: #4FBAAA;
}
.keywordFilter button {
  color: #FFF;
  background: #4FBAAA;
  border-color: #4FBAAA;
}
.keywordFilter button:focus {
  color: #FFF;
  border-color: #4FBAAA;
}
.keywordFilter button:hover {
  color: #FFF;
  background: #3c9a8c;
  border-color: #3c9a8c;
}
.keywordFilter button:active {
  color: #FFF;
  background: #2e756a;
  border-color: #2e756a;
}
.keywordFilter span.input-group-btn {
  width: auto;
}
.keywordFilter span.input-group-btn:focus {
  border-color: #4FBAAA;
}
.keywordList {
  max-width: 18em;
}
.keywordList .keyword {
  display: inline-block;
  background: #4FBAAA;
  color: #FFF;
  padding-right: 0.5em;
  margin: 0.25em;
}
.keywordList .keyword button {
  border: 0;
  cursor: pointer;
  user-select: none;
  padding: 0.25em 0.5em;
  display: inline-block;
  background: transparent;
  color: #FFF;
}
.checkbox label {
  user-select: none;
  font-weight: normal;
  display: block;
  cursor: pointer;
  transition: 0.2s background-color;
  margin-bottom: 0;
}
.checkbox label:hover {
  background-color: #D1D2D4;
}
.checkbox label input {
  visibility: hidden;
  /* <-- hide the default checkbox, the rest is to hide and alllow tabbing, which display:none prevents */
  display: block;
  height: 0;
  width: 0;
  position: absolute;
  overflow: hidden;
  font-size: 1.1em;
}
.checkbox label span {
  /* <-- style the artificial checkbox */
  height: 1em;
  width: 1em;
  border: 1px solid #4FBAAA;
  display: inline-block;
  margin-right: 0.5em;
  transition: 0.3s background;
}
.checkbox [type=checkbox]:checked + span {
  /* <-- style its checked state */
  background: #4FBAAA;
}
.semi-bold {
  font-weight: 600;
}
.bold {
  font-weight: 700;
}
.searchWrapper .results .offer:last-child {
  border: 0;
}
.searchWrapper .anchor {
  margin-top: 2em;
  padding-left: 3em;
}
.searchWrapper .anchor .no--results {
  align-self: center;
  align-items: center;
}
.searchWrapper .anchor .no--results h1 {
  margin: 0;
  padding-bottom: 1em;
}
.searchWrapper .anchor .offer:first-child {
  padding-top: 0;
}
.searchWrapper .pagination {
  padding: 1em;
}
.searchWrapper .pagination .page-item.active > .page-link {
  background-color: #4FBAAA;
  border-color: #4FBAAA;
  color: #FFF;
}
.searchWrapper .pagination .page-item .page-link {
  cursor: pointer;
  color: #4FBAAA;
  margin-left: 0.5em;
  border-color: #4FBAAA;
  border-radius: 0;
  font-size: 1.07em;
  padding: .5em .85em;
}
.searchWrapper .pagination .page-item .page-link:hover,
.searchWrapper .pagination .page-item .page-link:focus {
  background-color: #4FBAAA;
  border-color: #4FBAAA;
  color: #FFF;
}
.catpcha {
  padding: 1em;
}
.catpcha > div {
  margin: 0 auto;
}
.application {
  padding: 1em 0 0 1em;
}
.editorWrap .controls {
  text-align: center;
  padding-bottom: 1em;
}
.editorWrap .controls .btn + .btn {
  margin-left: 0.5em;
}
.editorWrap .editor {
  padding: 1em;
  border: 1px solid #4FBAAA;
}
.root > main > div.home {
  padding: 0;
}
.root > main > div.home .quickView {
  background: #4FBAAA;
  padding: 10%;
}
.root > main > div.home .quickView .applications {
  background: white;
  padding: 2em;
}
.root > main > div.home .quickView .applications article header {
  border-bottom: 1px solid #4FBAAA;
  margin-bottom: .25rem;
}
.root > main > div.home .quickView .applications article main {
  color: #808181;
}
.root > main > div.home .quickView .applications article main .status {
  font-weight: 700;
  color: #4FBAAA;
}
.root > main > div.home .quickView .applications article footer {
  color: #E94F2B;
}
.root > main > div.home .quickView .applications h1 {
  color: #4FBAAA;
  font-size: 22px;
}
body,
html {
  font-family: 'Open sans', 'Verdana';
  color: #333;
}
body {
  background: #FFF;
}
.overlay {
  background-image: url(/9158578b4cb14da83cdd539ad06ad9c5.gif);
  background-repeat: no-repeat;
}
.overlay.hidden {
  height: 0%;
}
.root > main > * {
  padding: 0 10% 3%;
}
.root {
  min-height: 100vh;
}
.in-b {
  display: inline-block;
}
.flt-r {
  float: right;
}
.flt-l {
  float: left;
}
.centered {
  text-align: center;
}
.spaced {
  letter-spacing: 5px;
  font-size: 1.25em;
}
.workTable .img {
  background: url(/02cd10a7f9728f0a331ada89cc3641fb.svg) #4FBAAA no-repeat;
  background-size: 100% 90%;
  background-position: 50%;
}
.hr-text {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: center;
  height: 1.5em;
  opacity: 0.5;
}
.hr-text:before {
  content: '';
  background: linear-gradient(to right, transparent, #818078, transparent);
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 1px;
}
.hr-text:after {
  content: attr(data-content);
  position: relative;
  display: inline-block;
  color: black;
  padding: 0 0.5em;
  line-height: 1.5em;
  color: #818078;
  background-color: #fcfcfa;
}
.sectionTitle {
  color: #4FBAAA;
  padding-bottom: 0.5em;
  border-bottom: 0.15em solid #4FBAAA;
}
.title {
  color: #4FBAAA;
  font-size: 22px;
}
