{
  "env": {
    "node": true,
    "es6": true
  },
  "root": true,
  "extends": "eslint-config-airbnb",
  "rules": {
    "comma-dangle": ["error", {
        "functions": "never"
    }],
    "indent": ["error", 2]
  }
}
