node_modules
npm-debug.log
!public/index.html
*/secret/*
server/files
secret*
public/static/*
!public/*.html
!public/static/styles.css
!public/static/*.bundle.js
!public/static/*.svg
!public/static/*.png
!public/static/*.gif
