.root > header {
  background-color: #2D5167;
  color: #fff;
  display: flex;
  align-items: center;
  min-height: 10vh;
}
.root > header .nav--main {
  flex-grow: 1;
}
.root > header .nav--secondary {
  padding: 1em;
  color: #333;
}
.mainSearch {
  text-align: center;
  background: url(/3dab0ac8462f4da1efed59eaa63a07a7.svg) no-repeat;
  background-color: #2D5167;
  background-size: auto 70%;
  background-position: 50% 100%;
  color: #fff;
  min-height: 90vh;
  overflow: hidden;
}
.mainSearch.flex.flex--center {
  justify-content: center;
}
.mainSearch .form .btn {
  color: #333;
}
.mainSearch .form .autocp {
  margin-right: 1em;
}
.mainSearch div {
  padding: 0 1em;
}
.mainSearch div input {
  width: 25em;
}
.latest {
  padding: 2rem;
}
.offer {
  padding: 2em 1em;
  color: #333;
  border-bottom: 1px solid #e4edea;
}
.offer .title {
  margin: 0;
  color: #4eb8a9;
  font-weight: 600;
  font-style: normal;
}
.offer .subTitle {
  color: #e84e29;
  margin: 0.4em 0;
}
.offer .location {
  color: #333;
}
.offer .short {
  color: #696969;
}
.advert .post {
  margin: 0 auto;
  width: 80%;
}
.advert .post .content {
  margin-left: 1em;
}
.advert section {
  width: 95%;
  margin: 0 auto;
}
.advert .no-label + .no-label {
  margin-left: 1em;
}
.advert .ad-title {
  margin: 1em 0;
}
.advert .ad-title input {
  width: 100%;
}
.advert .markdownBox {
  margin: 1em 0;
}
.advert div label {
  margin: 0 0.5em;
  font-weight: normal;
}
.advert div.small {
  display: inline-block;
}
.advert div.small input {
  width: 11em;
}
.op {
  padding: 1em;
}
.op .title {
  text-align: center;
  color: #4eb8a9;
  padding-bottom: 0.5em;
  border-bottom: 0.25em solid #4eb8a9;
}
.op > .mainWrapper {
  padding: 1em;
  overflow: hidden;
}
.op > .mainWrapper h1,
.op > .mainWrapper h2,
.op > .mainWrapper h3,
.op > .mainWrapper h4 {
  color: #4eb8a9;
}
.op > .mainWrapper .contentWrapper {
  padding: 0 1em;
}
.op > .mainWrapper .detais {
  float: left;
  width: 70%;
}
.op > .mainWrapper .overview {
  width: 30%;
  float: right;
}
.op > .mainWrapper .overview .contentWrapper {
  padding-left: 3em;
  border-left: 1px solid #4eb8a9;
}
.op > .mainWrapper .overview .contentWrapper span {
  padding-left: 1em;
}
.op > .mainWrapper .overview h3 {
  text-transform: uppercase;
}
.btn {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 0;
}
.btn--massive {
  font-size: 2em;
}
.btn--alt {
  background: #f7f7f7;
  color: #fff;
}
.btn--bolder {
  font-weight: bolder;
}
.btn--go {
  border-right: 0;
  padding-right: 0;
}
.btn--go::after {
  content: ">";
  margin-left: 1em;
  padding: 8.5px;
  background: #333;
  color: white;
}
.btn--incognito {
  border: 0;
  background: transparent;
}
.btn--main {
  display: block;
  text-align: center;
  margin: 0 auto;
}
.btn--large {
  padding: 0.7em;
}
button:focus .caret,
button:hover .caret {
  transform: rotate(-180deg);
}
.nav ul,
.nav li {
  box-sizing: border-box;
  list-style: none;
  padding: 0;
  margin: 0;
}
.nav ul.fatnav li:hover ul.subLinks {
  opacity: 1;
  visibility: visible;
}
.nav ul.fatnav li ul.subLinks {
  position: absolute;
  background: #162732;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.12);
}
.nav ul.fatnav li ul.subLinks li {
  border-bottom: 1px solid #2b4e63;
  line-height: 2em;
  text-align: left;
}
.nav ul.fatnav li ul.subLinks li a {
  color: #fff;
  padding: 1em;
  display: block;
  text-decoration: none;
}
.nav--menuitem {
  display: inline-block;
  text-align: center;
  border: 0;
  background: transparent;
  text-decoration: none;
  line-height: 4em;
  min-width: 9em;
  padding: 0 2em;
  transition: background-color 0.2s ease-in-out;
  white-space: nowrap;
}
.nav--menuitem a {
  color: #fff;
}
.nav--menuitem:hover {
  background: #162732;
}
.markdownBox {
  background-color: #fff;
  border-radius: 3px;
}
.markdownBox .nav-container nav {
  padding-left: 1em;
  background: #f7f7f7;
  border: 1px solid #4eb8a9;
}
.markdownBox .nav-container nav > button {
  margin-top: 1em;
  padding: 0.5em 1em;
  background-color: transparent;
  border: 1px solid transparent;
}
.markdownBox .nav-container nav > button.selected {
  border-color: #4eb8a9;
  border-color: #999;
  margin-bottom: -1px;
  border-bottom-color: #fff;
  background: #fff;
  bottom: -1px;
  position: relative;
}
.markdownBox .nav-container .toolbox {
  float: right;
  margin-top: 0.5em;
}
.markdownBox .nav-container .toolbox button {
  border: 1px solid #e4edea;
}
.markdownBox .helper {
  margin-top: 1em;
  font-size: 11px;
}
.markdownBox .helper svg {
  vertical-align: bottom;
  margin-right: 0.5em;
  fill: #333;
}
.markdownBox .content {
  padding: 1em;
  border: 1px solid #4eb8a9;
  border-top: 0;
}
.markdownBox .preview {
  line-height: 1.6;
  padding: 1em;
  min-height: 20em;
}
.markdownBox textarea {
  width: 100%;
  background: #fafafa;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
  line-height: 1.6;
  padding: 1em;
  max-height: 100%;
  min-height: 20em;
  resize: vertical;
}
.root > footer {
  background: #2D5167;
  padding: 1em;
}
.root > footer h4,
.root > footer a {
  color: #fff;
}
.root > footer .d-flex.flex-wrap > div {
  flex: 1;
  text-align: center;
}
.dialog .overlay {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
}
.dialog .box {
  width: 50%;
  height: 50%;
  margin: 0 auto;
  position: absolute;
  top: 25%;
  left: 25%;
}
.dialog .box .header {
  background-color: #333;
  text-align: center;
  color: white;
  border: 0;
}
.dialog .box .body {
  margin: 0 1em;
  background: #FFF;
}
.loginForm {
  width: 50%;
  margin: 0 auto;
  padding: 1em;
  margin-top: 2em;
}
.loginForm .centered {
  text-align: center;
}
.loginForm input {
  padding: 1em;
  width: 100%;
}
.loginForm div + div {
  margin-top: 1em;
}
.register {
  text-align: center;
}
.register .anchor {
  padding: 1em;
}
.register .options button {
  margin: 0 1em;
}
.register .sideImage {
  width: 5em;
  color: #333;
  background-color: #f7f7f7;
}
.register .form > div {
  margin: 1em;
}
.register .form > div input {
  width: 80%;
}
.caret {
  transition: 0.5s all;
}
.autocp {
  display: inline-block;
}
.autocp.big {
  width: 100%;
}
.autocp.big input {
  width: 100%;
}
.autocp + .autocp.no-label {
  margin-right: 1em;
}
input {
  background: #fafafa;
  border: 1px solid #ddd;
  padding: 1em;
}
.dropdown .dropdown-toggle,
.dropdown .dropdown-item {
  cursor: pointer;
}
.dropdown .dropdown-item.active,
.dropdown .dropdown-item:active,
.dropdown .dropdown-item:hover,
.dropdown .dropdown-item:focus {
  background-color: #4eb8a9;
  color: #fff;
}
.arrowDown {
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 5em;
}
.glyphicon--large {
  font-size: 5em;
}
.flex {
  display: flex;
}
.flex .img {
  flex: 1;
}
.flex .anchor {
  flex: 4;
}
.flex.flex--center {
  align-content: center;
  justify-content: space-around;
}
.flex--center--stretch > div {
  flex-grow: 1;
}
.flex--center--stretch .anchor {
  flex-grow: 2;
}
.flex--col {
  flex-direction: column;
}
.sideImageLayout .img {
  width: 5em;
  color: #333;
  background-color: #f7f7f7;
}
.sideImageLayout .anchor {
  padding: 1em;
}
.sideImageLayout .anchor h2 {
  margin-top: 0;
}
.fullheight {
  height: 100vh;
}
.profile {
  min-height: 90vh;
}
.profile > .sideImageLayout {
  min-height: 90vh;
  border-bottom: 1px solid #e4edea;
}
.profile .title {
  text-align: center;
  font-size: 3em;
  margin-bottom: 1em;
}
.short > div {
  min-height: 15em;
  margin: 1em;
  border: 1px solid #e4edea;
}
.short .img {
  min-width: 15em;
  margin: 1em;
}
.articleWrapper {
  min-height: 100vh;
  padding: 2em;
}
.op {
  padding: 1em;
}
.op--list {
  border-right: 1px solid #202950;
}
.op--list header {
  padding: 1em 0;
  border-bottom: 1px solid #202950;
  text-align: center;
}
.op--list main {
  padding: 1em;
}
.logo {
  width: 12em;
  height: 6em;
  margin: 1em;
  background: url(/810e76948e4d5b98830870e9569640ab.svg) no-repeat 50%;
}
.filters {
  padding: 2em;
  padding-top: 0;
  border-right: 1px solid #e4edea;
}
.filters .mainTitle,
.filters .title,
.filters h3 {
  color: #808080;
  text-transform: uppercase;
  font-weight: 600;
  font-style: normal;
}
.filters h2 {
  font-size: 2em;
  padding-bottom: 0.25em;
  margin: 0;
  border-bottom: 1px solid #808080;
}
.filters h3 {
  font-size: 1.3em;
  margin: 0.75em 0;
  margin-bottom: 0.75em;
}
.checkboxGroup .checkbox {
  font-weight: 600;
  font-style: normal;
  font-weight: normal;
  padding: 0 0 0.25em 1em;
  color: #808080;
}
.keywordFilter {
  margin-bottom: 0.25em;
}
.keywordFilter .form-control:focus {
  border-color: #4eb8a9;
}
.keywordFilter input,
.keywordFilter button {
  border-color: #4eb8a9;
}
.keywordFilter button {
  background: #4eb8a9;
  color: #fff;
}
.keywordFilter button:focus {
  color: #fff;
}
.keywordFilter span.input-group-btn {
  width: auto;
}
.keywordFilter span.input-group-btn:focus {
  border-color: #4eb8a9;
}
.keywordList {
  max-width: 18em;
}
.keywordList .keyword {
  display: inline-block;
  background: #4eb8a9;
  color: #fff;
  padding-right: 0.5em;
  margin: 0.25em;
}
.keywordList .keyword button {
  border: 0;
  cursor: pointer;
  user-select: none;
  padding: 0.25em 0.5em;
  display: inline-block;
  background: transparent;
  color: #fff;
}
.checkbox label {
  user-select: none;
  font-weight: normal;
  display: block;
  cursor: pointer;
  transition: 0.2s background-color;
  margin-bottom: 0;
}
.checkbox label:hover {
  background-color: #f7f7f7;
}
.checkbox label input {
  visibility: hidden;
  /* <-- hide the default checkbox, the rest is to hide and alllow tabbing, which display:none prevents */
  display: block;
  height: 0;
  width: 0;
  position: absolute;
  overflow: hidden;
  font-size: 1.1em;
}
.checkbox label span {
  /* <-- style the artificial checkbox */
  height: 1em;
  width: 1em;
  border: 1px solid #4eb8a9;
  display: inline-block;
  margin-right: 0.5em;
  transition: 0.3s background;
}
.checkbox [type=checkbox]:checked + span {
  /* <-- style its checked state */
  background: #4eb8a9;
}
.semi-bold {
  font-weight: 600;
  font-style: normal;
}
.searchWrapper {
  padding: 1em;
}
.searchWrapper .results .offer:last-child {
  border: 0;
}
.searchWrapper .anchor {
  padding-left: 1em;
}
.searchWrapper .anchor .no--results {
  align-self: center;
  align-items: center;
}
.searchWrapper .anchor .no--results h1 {
  margin: 0;
  padding-bottom: 1em;
}
.searchWrapper .anchor .offer:first-child {
  padding-top: 0;
}
.searchWrapper .pagination {
  padding: 1em;
}
.searchWrapper .pagination .page-item .page-link {
  cursor: pointer;
  color: #333;
}
.searchWrapper .pagination .page-item .page-link:hover,
.searchWrapper .pagination .page-item .page-link:focus {
  background-color: #b5cfde;
  border-color: #b5cfde;
}
.searchWrapper .pagination .page-item.active > .page-link {
  background-color: #2D5167;
  border-color: #2D5167;
  color: #fff;
}
body,
html {
  font-family: 'Open sans', 'Verdana';
  color: #333;
}
body {
  background: #fff;
}
.root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.root main {
  flex-grow: 1;
}
.in-b {
  display: inline-block;
}
.flt-r {
  float: right;
}
.flt-l {
  float: left;
}
.centered {
  text-align: center;
}
.spaced {
  margin: 3em;
}
.hr-text {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: center;
  height: 1.5em;
  opacity: 0.5;
}
.hr-text:before {
  content: '';
  background: linear-gradient(to right, transparent, #818078, transparent);
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 1px;
}
.hr-text:after {
  content: attr(data-content);
  position: relative;
  display: inline-block;
  color: black;
  padding: 0 0.5em;
  line-height: 1.5em;
  color: #818078;
  background-color: #fcfcfa;
}
.sectionTitle {
  color: #4eb8a9;
  padding-bottom: 0.5em;
  border-bottom: 0.25em solid #4eb8a9;
}

/*# sourceMappingURL=styles.css.map*/