.btn {
    background: @bg-color-main;
    border: 1px solid #ccc;
    border-radius: 0;
    cursor: pointer;
    
    &--main {

      background: @btn-bg-main;
      padding: 1em;
      display: inline-block;
      color: white;
      border-color: @btn-bg-main;

      &:focus, &.focus {
        box-shadow: 0 0 0 2px rgba(233, 79, 43, 0.25);
      }
    }

    &--massive {
        font-size: 2em;
    }

    &--alt {
        background: @bg-color-alt;
        color: @font-color-alt;
    }

    &--bolder {
        font-weight: bolder;
    }

    &--incognito {
        border: 0;
        background: transparent;
    }

    &--main {
        display: block;
        text-align: center;
        margin: 0 auto;
    }

    &--large {
        padding: 0.7em;
    }
}

button {

    &:focus, &:hover {

        .caret {
                transform: rotate(-180deg);
        }
    }

}
