@circular-btn-size: 3em;

a.btn {

  &--main,
  &--main:hover {
    color: @font-color-alt;
  }

}

.btn {
    background: @bg-color-main;
    border: 1px solid #ccc;
    border-radius: 0;
    cursor: pointer;

    &--circular {
      height: @circular-btn-size;
      width: @circular-btn-size;
      border-radius: @circular-btn-size;
      position: relative;

      &:after {
        content: " ";
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 50%;
        left: 0;
      }
    }

    &--profile {
      overflow: hidden;
      margin-left: 1em;

      &:after {
        background: @primary-dark;
      }
    }

    &--logout {
      border-color: @primary-dark;
      margin: 0 1em;

      &:after {
        background: #fff;
        width: 50%;
        top: -0.5em;
        left: 25%;
        content: "|";
        border-radius: 100%;
        color: #e84e29;
      }

      &:hover {
          background: #e84e29;
      }
    }

    &--main {
      border-color: @primary-dark;
      background: @primary-dark;
      color: @font-color-alt;
      display: inline-block;

      &:focus, &.focus {
        box-shadow: 0 0 0 2px rgba(233, 79, 43, 0.25);
      }

      &-alt {
        border-color: @primary-light;
        color: @primary-light;

        &-reverse {
          background: @primary-light;
          color: @font-color-alt;
          border-color: @primary-light;
        }
      }
    }

    &--massive {
        font-size: 2em;
    }

    &--alt {
        background: @tertiary-light;
        color: @font-color-alt;
    }

    &--bolder {
        font-weight: bolder;
    }

    &--incognito {
        border: 0;
        background: transparent;
    }

    &--large {
        padding: 0.7em;
    }
}

button {

    &:focus, &:hover {

        .caret {
                transform: rotate(-180deg);
        }
    }

}
