@primary-light: #4FBAAA;  // light green
@primary-dark: #E94F2B;   // orange

@secondary-light: #808181;
@secondary-dark: #1D1D1B;

@tertiary-light: #D1D2D4;
@tertiary-dark: #2D5167;

@bg-color-main: #FFF;

@font-family: 'Open sans', 'Verdana';
@font-color-main: #333;
@font-color-alt: #FFF;

@transition: 0.5s all;
