@primary-light: #4FBAAA;  // light green
@primary-dark: #E94F2B;   // orange

@secondary-light: #808181;  // grey
@secondary-dark: #1D1D1B;   // darker grey

@tertiary-dark: #1d2437;  // dark blue
@tertiary-light: #D1D2D4; // light grey
@tertiary-lightest: #f1f1f1;  // very light grey

@bg-color-main: #FFF;
@bg-color-input: #FAFAFA;

@font-family: 'Open sans', 'Verdana';
@font-color-main: #333;
@font-color-alt: #FFF;

@transition: 0.5s all;
