@secondary-dark: #808080;

.filters {
  margin-top: 2em;
  padding-right: 2em;
  border-right: 1px solid @tertiary-light;

  h3 {
    color: @secondary-dark;
    text-transform: uppercase;
    .semi-bold
  }

  h2 {
    font-size: 1.9em;
    padding-bottom: 0.25em;
    margin: 0;
    border-bottom: 1px solid @secondary-dark;
  }

  h3 {
    font-size: 1.3em;
    margin: 0.75em 0;
    margin-bottom: 0.75em;
  }
}

.checkboxGroup {
  .checkbox {
    .semi-bold;
    font-weight: normal;
    padding: 0 0 0.25em 1em;
    color: @secondary-dark;
  }
}

.keywordFilter {
  margin-bottom: 0.25em;

  .form-control:focus {
      border-color: @primary-light;
  }

  input:focus, button {
    border-color: @primary-light;
  }

  button {
    color: @font-color-alt;
    background: @primary-light;
    border-color: @primary-light;

    &:focus {
      color: @font-color-alt;
      border-color: @primary-light;
    }

    &:hover {
      color: @font-color-alt;
      background: darken(@primary-light, 10%);
      border-color: darken(@primary-light, 10%);
    }

    &:active {
      color: @font-color-alt;
      background: darken(@primary-light, 20%);
      border-color: darken(@primary-light, 20%);
    }
  }

  span.input-group-btn {
    width: auto;

    &:focus {
      border-color: @primary-light;
    }
  }
}

.keywordList {
   max-width: 18em;

  .keyword {
    display: inline-block;
    background: @primary-light;
    color: @font-color-alt;
    padding-right: 0.5em;
    margin: 0.25em;

    button {
      border: 0;
      cursor: pointer;
      user-select: none;
      padding: 0.25em 0.5em;
      display: inline-block;
      background: transparent;
      color: @font-color-alt;
    }

  }
}
