.root {
    > footer  {
        background: @bg-color-tertiary;
        padding: 1em 10%;

        h4, a {
          // color: @font-color-alt;
        }

        .d-flex.flex-wrap > div {
          flex: 1;
          text-align: center;
        }
    }
}
