.root {
    > footer  {
      background: @tertiary-light;
      padding: 1em 10%;

      article {
        display: inline-block;
        margin: 0 auto;
      }

      a {
        color: @primary-dark;
      }

      .d-flex.flex-wrap > div {
        text-transform: lowercase;
        padding: 1em 2em;
      }
    }
} 
