.root {
    > footer  {
        background: @tertiary-light;
        padding: 1em 10%;

        article {
          display: inline-block;
          margin: 0 auto;

          div {
            text-align: right;
          }
        }

        a {
          color: @primary-dark;
        }

        .d-flex.flex-wrap > div {
          // flex: 1;
          // text-align: center;
          padding: 1em 2em;
        }
    }
}
