.root > main > div.home {
  padding: 0;

  .quickView {
    .media-tablet-landscape({
      display: block !important;
    });

    background: @primary-light;
    padding: 5%;

    .applications {
      background: white;
      padding: 2em;

      article {
        header {
          border-bottom: 1px solid @primary-light;
          margin-bottom: .25rem;

          h5 {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
          }
        }

        main {
          color: @secondary-light;

          .status {
            .bold;
            color: @primary-light;
          }
        }

        footer {
          color: @primary-dark;
        }
      }

      h1 {
        .title;
      }
    }

    .cvbox,
    .clbox {
      background: white;
      margin-left: 2em;
      padding: 2em;

      .media-tablet-landscape({
        margin-left: 0;
        margin-top: 1em;
      });

      a {
        display: block;
        color: @primary-dark;
      }
    }

    .clbox {
      margin-top: 1em;
    }

  }
}
