@mainSearch-border: 1px solid lighten(@header-bg-color, 5%);

.mainSearch {
    text-align: center;
    background: url(../images/bcg.svg) no-repeat;
    background-size: auto 70%;
    background-position: 50% 80%;
    min-height: 90vh;
    overflow: hidden;

    &.flex.flex--center {
        justify-content: center;
    }

    h2 {
        padding: 3% 0;
    }

    .form {
        padding-top: 3%;

        .btn {
            color: @font-color-main;
        }

        .autocp {
            margin-right: 1em;

        }
    }

    .wrapper {
        // padding: 13em;
    }

    div {
        // padding: 0 1em;
    }
}
