.mainSearch {
    text-align: center;
    background: url(../images/bcg.svg) no-repeat;
    background-size: auto 70%;
    background-position: 50% 80%;
    overflow: hidden;
    height: 90vh;

    .mobileWrapper {
      height: 100%;
      padding: 0 2em;

      .media-phone-landscape({
        background: fade(@primary-light, 75%);

        h2 {
          color: @font-color-alt;
        }

        .btn {
          border-color: @primary-dark;
          background: @primary-dark;
          text-transform: uppercase;
          color: @font-color-alt;

          .media-phone-portrait({
            width: 100%;
          })
        }

      });



    }

    &.flex.flex--center {
        justify-content: center;
    }

    h2 {
        padding: 3% 0;
        color: @primary-light;
    }

    .form {
        padding-top: 3%;

        .btn {
            color: @font-color-main;
        }

        .autocp {
            margin-right: 1em;

        }
    }
}
