.nav {

  &--main  {
      flex-grow: 1;
      margin-left: 5em;
  }

  &--secondary {
    padding: 1em;

    a {
      &:hover, &:focus {
        text-decoration: none;
      }
    }
  }

  ul, li {
    box-sizing: border-box;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  ul.fatnav {
    > li {
      font-size: 1.4em;
      cursor: pointer;

      &:hover {
        background: @bg-color-tertiary;

        ul.subLinks {
          opacity: 1;
          visibility: visible;
        }
      }

      ul.subLinks {
        position: absolute;
        background: @bg-color-tertiary;
        opacity: 0;
        visibility: hidden;
        transition: opacity .2s ease-in-out,visibility .2s ease-in-out;
        box-shadow: 0 3px 4px rgba(0,0,0,.12);

        li {
          border-bottom: 1px solid darken(@bg-color-tertiary, 1%);;
          line-height: 2em;
          text-align: left;
          font-size: 1em;

          a {
            padding: 1em;
            display: block;
            font-weight: bold;
            text-decoration: none;
            color: @font-color-title;
          }
        }
      }
    }
  }

  &--menuitem {
    display: inline-block;
    text-align: center;
    border: 0;
    background: transparent;
    text-decoration: none;
    line-height: 4em;
    min-width: 9em;
    padding: 0 2em;
    transition: background-color .2s ease-in-out;
    white-space: nowrap;
    padding-bottom: 1em;

    &, a {
      font-weight: bold;
      color: @font-color-title;
    }
  }
}
