.offer {
  padding: 2em 1em;
  color: @font-color-main;
  border-bottom: 1px solid @tertiary-light;

  .subTitle {
    color: @primary-dark;
    margin: 0.4em 0;
  }

  .location {
    color: @font-color-main;
  }
}
