.op {
  padding: 1em;

  .title {
    .sectionTitle;
  }

  > .mainWrapper {
    padding-top: 1em;

    h1,h2,h3,h4 {
      color: @primary-light;
    }

    .detais {
      flex: 7;

      .contentWrapper {
        padding-right: 10%;
      }

    }

    .overview {
      flex: 3;

      .contentWrapper {
          padding-left: 3em;
          border-left: 1px solid @primary-light;

          span {
            padding-left: 1em;
            display: inline-block;
          }

      }

      h3 {
        text-transform: uppercase;
        margin-top: 0.5em;

        &:first-child {
          margin-top: 0
        }
      }
    }

  }

}
