.op {
  padding: 1em;

  .title {
    text-align: center;
    .sectionTitle;
  }

  > .mainWrapper {
    padding: 1em;
    overflow: hidden;

    h1,h2,h3,h4 {
      color: @font-color-title;
    }

    .contentWrapper {
      padding: 1em 3em 0;
    }

    .detais {
      float: left;
      width: 70%;
    }

    .overview {
      width: 30%;
      float: right;



      .contentWrapper {
          padding-left: 3em;
          border-left: 1px solid @font-color-title;

          span {
            padding-left: 1em;
          }

      }

      h3 {
        text-transform: uppercase;
        margin-top: 0.5em;

        &:first-child {
          margin-top: 0
        }
      }
    }

  }

}
