.profile {

  section {
    margin-top: 3em;

    h6 {
      color: @secondary-dark;
      margin: 1em 0;
      .bold;
    }

    label {
      .bold;
      text-transform: uppercase;
      color: @secondary-dark;
    }

    .keywordList {
      max-width: none;
    }
  }
}
