.profile {

  section {
    margin: 0 auto;
    margin-top: 5em;
    max-width: 65%;
    .media-phone-landscape({
      max-width: 100%;
    });

    &:first-child {
      margin-top: 0;
    }

    h6 {
      color: @secondary-dark;
      margin: 1em 0;
      .bold;
    }

    label {
      .bold;
      text-transform: uppercase;
      color: @secondary-dark;
    }

    .keywordList {
      max-width: none;
    }
  }
}
