.searchWrapper {
  padding: 1em;

  .results .offer:last-child {
    border: 0;
  }

  .anchor {
    padding-left: 1em;

    .no--results {
      align-self: center;
      align-items: center;

      h1 {
        margin: 0;
        padding-bottom: 1em;
      }
    }

    .offer:first-child {
        padding-top: 0;
    }

  }

  .pagination {

    padding: 1em;

      .page-item  {

        .page-link {
          cursor: pointer;
          color: @font-color-main;

          &.active > .page-link,
          &:hover, &:focus {
            background-color: @bg-color-tertiary;
            border-color: @bg-color-tertiary;
          }
        } // end page-link
      } // end page-item
  }

}
